@()(implicit request: play.mvc.Http.Request)
<!DOCTYPE html>

<html>
<head>
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
    	console.log("init");
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
        var socket = new WS("ws://www9057ue.sakura.ne.jp:9000/echowebsocketmessage");
        console.log("new socket");
        socket.onmessage = function(event) {
        	console.log("onmessage");
			//var data = JSON.parse(event.data);
            //$("#onReceive").text(data.text);
            $("#onReceive").text(event.data);
        }
        
        $("#onSend").click(function () {
        	console.log("send");
            socket.send(JSON.stringify({text: $("#sendMessage").val()}));
        });
    })
</script>
</head>
<body>
<textarea id="sendMessage"></textarea>
<input type="button" id="onSend">send</input>
<div id="onReceive">dummy</div>
</body>
</html>
